* {
  padding: 0;
  margin: 0;
  border: 0;
}

canvas {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

body {
  background: PaleGoldenrod;
}

.lower {
  width: 100%;
  display: flex;
  justify-content: center;
}

.b2 {
  margin-left: 4px;
}

.b3 {
  margin-left: 4px;
}

.upper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
