* {
  padding: 0;
  margin: 0;
  border: 0;
}

.game {
  position: relative;
}

canvas {
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: absolute;
}

body {
  background: PaleGoldenrod;
}

.lower {
  margin-top: 7px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.b2 {
  margin-left: 8px;
  margin-top: 138px;
}

.b3 {
  margin-left: 8px;
}

.upper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  margin-top: 70px;
  position: absolute;
  width: 100%;
  justify-content: center;
  opacity: 0%;
}
